# Text Classification using Neural Networks

<img class=" lazyloaded" data-src="https://bloopglobal.com/wp-content/uploads/2020/11/interactive-presentation-header-1.gif" alt="" title="interactive-presentation-header" src="https://bloopglobal.com/wp-content/uploads/2020/11/interactive-presentation-header-1.gif">

In this project certain classification algorithms will be applied to the given dataset in order to evaluate their performances on different conditions.

In [2]:
 from google.colab import drive
drive.mount("gdrive")

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

## Importing Necessary Libraries and Frameworks

This procedure is done in only one cell for the sake of simplicity and better representation. Sklearn will used in order to train and test different machine learning algorithms on the provided dataset. Pandas will be used in order to obtain observable dataframes and matplotlib.pyplot will be used for plotting operations regarding on the dataset.

In [3]:
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV,KFold
from sklearn.metrics import auc,classification_report,RocCurveDisplay,f1_score,accuracy_score,plot_confusion_matrix,confusion_matrix
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.pipeline import make_pipeline

import gensim.downloader
import nltk
import string 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install -q --upgrade ipython
!pip install -q --upgrade ipykernel

## Importing dataset

In [4]:
PATH = "/content/gdrive/MyDrive/CS-445"

In [5]:
train_df = pd.read_csv(PATH+"/train.csv",index_col=0)
train_df.head(-1)

          id                                               text     label
0     547530  Beşiktaş'ın eski teknik direktörü Slaven Bilic...      spor
1      42683  14 Şubat, Katolik Kilisesi’nin azizlerinden St...  yazarlar
2     770925  İstanbul Kağıthane’de gece yarısı sokakta oyun...     video
3     473224  Ziraat Türkiye Kupası maçında deplasmanda Amed...     video
4      44833  Eski Brezilyalı yıldız oyuncu Ronaldo, Brezily...      spor
...      ...                                                ...       ...
7994  812733  Çanakkale’den “Herkes İçin Adalet” diye seslen...  yazarlar
7995  786591  Eskişehirspor Yönetimi, teknik direktörlük gör...      spor
7996  144257  UEFA Disiplin Kurulu, Borussia Dortmund-Galata...      spor
7997  675701  Rusya Federasyon Konseyi Uluslararası İlişkile...     dunya
7998  680725  Rusya’nın BM Büyükelçisi Vitaly Çurkin New Yor...     dunya

[7999 rows x 3 columns]

In [6]:
test_df = pd.read_csv(PATH+"/test.csv",index_col=0)
test_df.head(-1)

          id                                               text     label
0     416549  "Filmimde oynadı ama 32 yıldır görmüyordum abi...     video
1     462801  Katalonya'nın yeni Başkanı Carles Puigdemont, ...     dunya
2     114173  İstanbul Avcılar'da E-5 üzerinde bir yakıt tan...     video
3     458380  CNN Türk muhabiri emniyet kemeri haberi yapmak...     video
4     287566  \n\n\n \nCumhurbaşkanı Gül yasama yılını açark...  yazarlar
...      ...                                                ...       ...
1994   51087  Almanya'nın Köln kentinde, Köln Türkiye Gençli...     video
1995  318095  Turkish Airlines Euroleague'deki temsilcilerim...      spor
1996  283607  Akıl Oyunları filmine ilham veren ünlü matemat...     dunya
1997  244760  Eski ÖSYM Başkanı Ali Demir KPSS soruşturması ...   turkiye
1998  561235  Atatürk Havalimanı katliamından sonra bir gün ...  yazarlar

[1999 rows x 3 columns]

## Metadata about the dataset

###Train Data

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8000 non-null   int64
 1   text    8000 non-null   object
 2   label   8000 non-null   object
dtypes: int64(1), object(2)
memory usage: 250.0+ KB

In [8]:
train_df.label.value_counts()

turkiye     1630
dunya       1606
yazarlar    1599
spor        1583
video       1582
Name: label, dtype: int64

In [9]:
train_df.isnull().sum(axis = 0)

id       0
text     0
label    0
dtype: int64

###Test Data

In [10]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2000 non-null   int64
 1   text    2000 non-null   object
 2   label   2000 non-null   object
dtypes: int64(1), object(2)
memory usage: 62.5+ KB

In [11]:
test_df.label.value_counts()

turkiye     421
video       408
dunya       395
yazarlar    392
spor        384
Name: label, dtype: int64

In [12]:
test_df.isnull().sum(axis = 0)

id       0
text     0
label    0
dtype: int64

## Pre-processing

<img width="800" height="400" src="https://thelastbyteblog.files.wordpress.com/2020/06/data-scrubbing-service.gif?w=800" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy" data-attachment-id="296" data-permalink="https://thelastbyteblog.wordpress.com/2020/06/15/beginners-guide-to-data-preprocessing-in-machine-learning/data-scrubbing-service/" data-orig-file="https://thelastbyteblog.files.wordpress.com/2020/06/data-scrubbing-service.gif" data-orig-size="800,400" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="data-scrubbing-service" data-image-description="" data-medium-file="https://thelastbyteblog.files.wordpress.com/2020/06/data-scrubbing-service.gif?w=300" data-large-file="https://thelastbyteblog.files.wordpress.com/2020/06/data-scrubbing-service.gif?w=750">

There are few options of preprocessing which would allow any ML model to work better. These operations are mainly done on assumptions regarding on the dataset such that the removed words would not have significant effect on identifiying the specific classes.


*   Punctuation removal ✔️
*   Lower casing ✔️
*   Stopwords removal ✔️
*   Stemming or lemmatization (no built-in package) ❌
*   Unnecessary number removal (Capture by regex) ✔️

Samples from the dataset.

In [13]:
for index, row in train_df.iterrows():
    if(index==5):
      break
    print(row[1])
    print("\n")

Beşiktaş'ın eski teknik direktörü Slaven Bilic, Türkiye-Hırvatistan maçında yorumculuk yapmak üzere Lig TV ile anlaştı.
EURO 2016'nın yayıncı kuruluşlarından biri olan Lig TV, Türkiye'nin D Grubu'nda Hırvatistan ile oynayacağı ilk maç için Slaven Bilic ile anlaşıldığını duyurdu.
Beşiktaş'ın eski teknik direktörü Slaven Bilic, 12 Haziran Pazar günü TSİ 16:00'da başlayacak mücadelede yorumcu olacak.
Lig TV, Slaven Bilic'in yanı sıra A Milli Takım'ın efsane kalecilerinden Rüştü Reçber'in de bu karşılaşmanın yorumcularından biri olacağını açıkladı.
EURO 2008'de Hırvatistan'ın teknik direktörü olan Slaven Bilic, çeyrek finalde Türkiye'ye rakip olmuş ve 120 dakikası 1-1 biten maçta A Milli Takımımıza penaltılarda elenmişti.


14 Şubat, Katolik Kilisesi’nin azizlerinden St. Valentine’e adanmış bir gün. “Valentine”in sevgili anlamına gelmesinden olsa gerek “Sevgililer Günü”ne dönüşmüş. 1800’lü yıllarda Amerikalı Esther Howland’ın ilk Sevgililer Günü kartını yollamasıyla yeni bir biçim almış. İlk zamanlar sevgililerin birbirlerine kartlarla mesajlar yollamasını özendiren, günü sevgililerin birlikte geçirmesini sağlayan etkinlikler yapılmış. Hediye alıp verilmeye başlanınca da bir tüketim çılgınlığına dönüştürülmüş.
 Türkiye’de Sevgililer Günü’nün öncüsü olarak Hıncal Uluç biliniyor. Uluç, Sevgililer Günü’nden ilk kez 1977’de o zamanki Amerikalı eşi vesilesi ile söz etmiş. Ülkemizde 90’lı yıllardan itibaren yaygın olarak kutlanmaya başlamış. Anneler ya da Babalar Günü gibi tüketimi özendirmek amacıyla desteklenen bir gün. Sevgililer Günü’ne iki temel eleştiri var. Biri, Hıristiyan kökenli olduğu için Müslümanlarca kutlanmasının doğru olmadığı. Sevgililer Günü denince akla St. Valentine gelmiyor. Zaten 469 yılında Papa’nın ilan ettiği bu anma 1969’da kilise takviminden çıkarılmış. Yani 14 Şubat’ın dini niteliği kalmamış.
 İkinci eleştiri Sevgililer Günü’nün amacının sadece tüketimi özendirmek olduğu düşüncesi. Haklı bir eleştiri, bugünün kutlanmasının tüketimi özendirmek ve artırmaktan başka bir amacı yok.
 14 Şubat’ta sadece Sevgililer Günü kutlanmıyor. Uluslararası Kitap Değişimi Günü, Kütüphane Severler Günü ve Dünya Öykü Günü de 14 Şubat’ta kutlanan günlerden.
 Dünya Öykü Günü’nü düşünüp öneren öykücü Özcan Karabulut’tur.Özcan Karabulut iyi bir öykücü olmasının yanında bir öykü sevdalısıdır, öykünün daha çok okunup benimsenmesi için elinden gelen her şeyi yapar. Öykü dergileri yayıncılığı ile başlayan çabası, Ankara Öykü Günleri ile gelişti, sonunda da “Dünya Öykü Günü” önerisine vardı.
 Özcan Karabulut Türkiye’de bugünün kutlanmasına önayak olmakla kalmadı, dünya çapında kutlanması için de çalışmalar yaptı. 2003 yılında Türkiye PEN’in önerisi ile Uluslararası PEN Genel Kurulu’nda 14 Şubat “Dünya Öykü Günü” olarak kabul edildi. İkinci ve önemli aşama günün UNESCO tarafından kabul edilmesiydi. Ama UNESCO Genel Kurulu’nda 14 Şubat’ın “Dünya Öykü Günü” olması önerisi reddedilmiş.
 Öykü ülkemizde okunan, sevilen bir tür olmasına karşın dünyada bizdeki kadar yaygın değil. Öykü edebiyat dergilerinde yayımlanan bir tür olarak kalıyor, öykü kitaplarının sayısı az. 14 Şubat “Dünya Öykü Günü” olarak UNESCO tarafından benimsenip dünyaya duyurulsaydı sanırım günün öyküye ilginin artmasında önemli bir katkısı olacaktı.
 Bu yıl Özcan Karabulut ve öykücü arkadaşları kurumsallaşmada önemli bir adım atarak Ankara Öykü Günleri Derneği’ni kurdu. “14 Şubat Dünyanın Öyküsü” dergisi yayımlanmaya başlandı. Dünya Öykü Günü kutlamalarında da dernek önemli rol yüklenmiş.
“Yaşadığınız öyküler dilerim güzel bitsin!” diye noktalanan 2014 Dünya Öykü Günü Bildirgesi’ni usta öykücü Necati Tosuner yazmış. Başta Ankara olmak üzere Bursa, Erzurum, Kayseri, İzmir, Denizli, Eskişehir ve Konya gibi şehirlerde kutlamalar yapılmış. Önceki yıllarda Türkiye PEN’in organizasyonu ile İstanbul’da da kutlamalar yapılıyordu. Bu yıl ise İstanbul’da bir etkinlik yoktu. Sadece Kadıköy’de öyküseverler bir araya gelip balonların ucuna bağlanmış öyküleri sokaktan geçenlere dağıtmış. Bence Ankara Öykü Günleri Derneği’nin çabasına Türkiye PEN ve diğer yazar örgütleri de katkıda bulunmalı. Ancak her yerde birbirinden bağımsız kutlamalar yapıldığında “Dünya Öykü Günü” kalıcılaşacaktır.


İstanbul Kağıthane’de gece yarısı sokakta oyun oynayan çocuklar, ölümden döndü. Kontrolden çıkan bir kamyonet, kaldırımı aşıp binanın duvarındaki doğalgaz kutusuna çarptı. 2 kişinin yaralandığı kazada şoför kaçarken arkadaşına tekme atarak kaçan çocuğun saniyelerle ölümden kurtulduğu o an güvenlik kameralarına yansıdı.


Ziraat Türkiye Kupası maçında deplasmanda Amedspor'un Bursaspor'u 2-1 yenerek kupa dışına itmesi, Diyarbakır'da sevinçle gösterileriyle karşılandı. Tezehürat ve yeşil kırmızı flamalarla Ofis'te toplanan ve Gevran Caddesi'ne yürümek isteyen taraftarlara polis, tazyikli su ve gaz bombalarıyla müdahale etti. Ofis semtinde güvenlik güçleri ile Amedspor taraftarları arasında çıkan olaylar ara sokaklarda kovalamaca şeklinde devam etti.


Eski Brezilyalı yıldız oyuncu Ronaldo, Brezilya'nın evsahipliğinde düzenlenecek 2014 FIFA Dünya Kupası'nı "Sambacı"ların kazanması halinde Neymar'ın turnuvanın yıldızı olabileceğini iddia etti.
İspanyol basınına konuşan Ronaldo, Neymar'ın Barcelona'ya transferinin ardından futbolunu geliştirdiğini belirterek, "Geçen sezon Konfederasyonlar Kupası'nda izlediğim Brezilya'nın ardından iyimserim. Genç bir takımları var ve Neymar kalitesiyle takımın en iyi oyuncusu" dedi.
Neymar'ın Barcelona'da Lionel Messi'nin ardında kaldığını belirten Ronaldo, "Barcelona'da şimdilik Messi'nin yardımcılığını yapıyor. Ama o çok daha fazlası ve ülkemizin heyecan verici umudu" şeklinde konuştu.
"Brezilya turnuvayı kazanırsa Neymar da turnuvanın yıldızı seçilebilir" diyen Ronaldo, 22 yaşındaki oyuncuya duyduğu güvenin önümüzdeki turnuvada boşa çıkmayacağından emin olduğunu vurguladı.
Turnuva öncesinde statların yetişememesi, güvenlik gibi konular için boşuna endişe duyulduğunu savunan Ronaldo, "Gelmiş geçmiş en iyi Dünya Kupası bu olacak. Önümüzde birkaç ay var ve bazı şüpheler olması normal. Aynı şey kış olimpiyatları öncesi Soçi'de yaşanmıştı" değerlendirmesinde bulundu.
Neymar'ın Brezilya formasıyla 46 maçta 27 golü bulunuyor.

### Punctuation removal

<img class="img-responsive" src="https://www.thelearninglab.com.sg//content/dam/tll/blog-content/2019/aug/why-proper-punctuation-matters/Why-Proper-Punctuation-Matters_Blog-Header-1_2.gif">

In [14]:
train_df.head(-1)

          id                                               text     label
0     547530  Beşiktaş'ın eski teknik direktörü Slaven Bilic...      spor
1      42683  14 Şubat, Katolik Kilisesi’nin azizlerinden St...  yazarlar
2     770925  İstanbul Kağıthane’de gece yarısı sokakta oyun...     video
3     473224  Ziraat Türkiye Kupası maçında deplasmanda Amed...     video
4      44833  Eski Brezilyalı yıldız oyuncu Ronaldo, Brezily...      spor
...      ...                                                ...       ...
7994  812733  Çanakkale’den “Herkes İçin Adalet” diye seslen...  yazarlar
7995  786591  Eskişehirspor Yönetimi, teknik direktörlük gör...      spor
7996  144257  UEFA Disiplin Kurulu, Borussia Dortmund-Galata...      spor
7997  675701  Rusya Federasyon Konseyi Uluslararası İlişkile...     dunya
7998  680725  Rusya’nın BM Büyükelçisi Vitaly Çurkin New Yor...     dunya

[7999 rows x 3 columns]

In [15]:
train_df["text"]=train_df["text"].str.replace('[{}]'.format(string.punctuation), '')
train_df.head(-1)

          id                                               text     label
0     547530  Beşiktaşın eski teknik direktörü Slaven Bilic ...      spor
1      42683  14 Şubat Katolik Kilisesi’nin azizlerinden St ...  yazarlar
2     770925  İstanbul Kağıthane’de gece yarısı sokakta oyun...     video
3     473224  Ziraat Türkiye Kupası maçında deplasmanda Amed...     video
4      44833  Eski Brezilyalı yıldız oyuncu Ronaldo Brezilya...      spor
...      ...                                                ...       ...
7994  812733  Çanakkale’den “Herkes İçin Adalet” diye seslen...  yazarlar
7995  786591  Eskişehirspor Yönetimi teknik direktörlük göre...      spor
7996  144257  UEFA Disiplin Kurulu Borussia DortmundGalatasa...      spor
7997  675701  Rusya Federasyon Konseyi Uluslararası İlişkile...     dunya
7998  680725  Rusya’nın BM Büyükelçisi Vitaly Çurkin New Yor...     dunya

[7999 rows x 3 columns]

In [16]:
test_df["text"]=test_df["text"].str.replace('[{}]'.format(string.punctuation), '')
test_df.head(-1)

          id                                               text     label
0     416549  Filmimde oynadı ama 32 yıldır görmüyordum abim...     video
1     462801  Katalonyanın yeni Başkanı Carles Puigdemont re...     dunya
2     114173  İstanbul Avcılarda E5 üzerinde bir yakıt tanke...     video
3     458380  CNN Türk muhabiri emniyet kemeri haberi yapmak...     video
4     287566  \n\n\n \nCumhurbaşkanı Gül yasama yılını açark...  yazarlar
...      ...                                                ...       ...
1994   51087  Almanyanın Köln kentinde Köln Türkiye Gençlik ...     video
1995  318095  Turkish Airlines Euroleaguedeki temsilcilerimi...      spor
1996  283607  Akıl Oyunları filmine ilham veren ünlü matemat...     dunya
1997  244760  Eski ÖSYM Başkanı Ali Demir KPSS soruşturması ...   turkiye
1998  561235  Atatürk Havalimanı katliamından sonra bir gün ...  yazarlar

[1999 rows x 3 columns]

###Lower casing

<img class=" lazyloaded" data-src="https://bloopglobal.com/wp-content/uploads/2020/11/interactive-presentation-header-1.gif" alt="" title="interactive-presentation-header" src="https://i.gifer.com/3VXm.gif">

In [17]:
train_df["text"]=train_df["text"].str.lower()
train_df.head(-1)

          id                                               text     label
0     547530  beşiktaşın eski teknik direktörü slaven bilic ...      spor
1      42683  14 şubat katolik kilisesi’nin azizlerinden st ...  yazarlar
2     770925  i̇stanbul kağıthane’de gece yarısı sokakta oyu...     video
3     473224  ziraat türkiye kupası maçında deplasmanda amed...     video
4      44833  eski brezilyalı yıldız oyuncu ronaldo brezilya...      spor
...      ...                                                ...       ...
7994  812733  çanakkale’den “herkes i̇çin adalet” diye sesle...  yazarlar
7995  786591  eskişehirspor yönetimi teknik direktörlük göre...      spor
7996  144257  uefa disiplin kurulu borussia dortmundgalatasa...      spor
7997  675701  rusya federasyon konseyi uluslararası i̇lişkil...     dunya
7998  680725  rusya’nın bm büyükelçisi vitaly çurkin new yor...     dunya

[7999 rows x 3 columns]

In [18]:
test_df["text"]=test_df["text"].str.lower()
test_df.head(-1)

          id                                               text     label
0     416549  filmimde oynadı ama 32 yıldır görmüyordum abim...     video
1     462801  katalonyanın yeni başkanı carles puigdemont re...     dunya
2     114173  i̇stanbul avcılarda e5 üzerinde bir yakıt tank...     video
3     458380  cnn türk muhabiri emniyet kemeri haberi yapmak...     video
4     287566  \n\n\n \ncumhurbaşkanı gül yasama yılını açark...  yazarlar
...      ...                                                ...       ...
1994   51087  almanyanın köln kentinde köln türkiye gençlik ...     video
1995  318095  turkish airlines euroleaguedeki temsilcilerimi...      spor
1996  283607  akıl oyunları filmine ilham veren ünlü matemat...     dunya
1997  244760  eski ösym başkanı ali demir kpss soruşturması ...   turkiye
1998  561235  atatürk havalimanı katliamından sonra bir gün ...  yazarlar

[1999 rows x 3 columns]

###Stopwords removal

<img class=" lazyloaded" data-src="https://bloopglobal.com/wp-content/uploads/2020/11/interactive-presentation-header-1.gif" alt="" title="interactive-presentation-header" src=https://i.gifer.com/UE0b.gif>

In [19]:
stopwords = []
with open("/content/gdrive/MyDrive/CS-445/stopwords-extended") as s_file:
  stopwords = s_file.readlines()

In [20]:
stopwords = [stopword[:-1] for stopword in stopwords]

In [21]:
train_df["text"]= train_df["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

In [22]:
for index, row in train_df.iterrows():
    if(index==5):
      break
    print(row[1])
    print("\n")

beşiktaşın eski teknik direktörü slaven bilic türkiyehırvatistan maçında yorumculuk lig tv anlaştı euro 2016nın yayıncı kuruluşlarından lig tv türkiyenin d grubunda hırvatistan oynayacağı maç slaven bilic anlaşıldığını duyurdu beşiktaşın eski teknik direktörü slaven bilic 12 haziran pazar günü tsi̇ 1600da başlayacak mücadelede yorumcu olacak lig tv slaven bilicin yanı sıra a milli takımın efsane kalecilerinden rüştü reçberin karşılaşmanın yorumcularından olacağını açıkladı euro 2008de hırvatistanın teknik direktörü slaven bilic çeyrek finalde türkiyeye rakip olmuş 120 dakikası 11 biten maçta a milli takımımıza penaltılarda elenmişti


14 şubat katolik kilisesi’nin azizlerinden st valentine’e adanmış gün “valentine”in sevgili anlamına gelmesinden “sevgililer günü”ne dönüşmüş 1800’lü yıllarda amerikalı esther howland’ın sevgililer günü kartını yollamasıyla yeni biçim almış i̇lk zamanlar sevgililerin birbirlerine kartlarla mesajlar yollamasını özendiren günü sevgililerin geçirmesini sağlayan etkinlikler yapılmış hediye alıp verilmeye başlanınca tüketim çılgınlığına dönüştürülmüş türkiye’de sevgililer günü’nün öncüsü hıncal uluç biliniyor uluç sevgililer günü’nden 1977’de zamanki amerikalı eşi vesilesi söz etmiş ülkemizde 90’lı yıllardan yaygın kutlanmaya başlamış anneler babalar günü tüketimi özendirmek amacıyla desteklenen gün sevgililer günü’ne temel eleştiri hıristiyan kökenli müslümanlarca kutlanmasının sevgililer günü denince akla st valentine gelmiyor 469 yılında papa’nın ilan anma 1969’da kilise takviminden çıkarılmış 14 şubat’ın dini niteliği kalmamış i̇kinci eleştiri sevgililer günü’nün amacının tüketimi özendirmek düşüncesi haklı eleştiri bugünün kutlanmasının tüketimi özendirmek artırmaktan başka amacı 14 şubat’ta sevgililer günü kutlanmıyor uluslararası kitap değişimi günü kütüphane severler günü dünya öykü günü 14 şubat’ta kutlanan günlerden dünya öykü günü’nü düşünüp öneren öykücü özcan karabulut’turözcan karabulut öykücü olmasının yanında öykü sevdalısıdır öykünün okunup benimsenmesi elinden gelen yapar öykü dergileri yayıncılığı başlayan çabası ankara öykü günleri gelişti “dünya öykü günü” önerisine özcan karabulut türkiye’de bugünün kutlanmasına önayak olmakla kalmadı dünya çapında kutlanması çalışmalar 2003 yılında türkiye pen’in önerisi uluslararası pen genel kurulu’nda 14 şubat “dünya öykü günü” kabul edildi i̇kinci önemli aşama günün unesco kabul edilmesiydi unesco genel kurulu’nda 14 şubat’ın “dünya öykü günü” önerisi reddedilmiş öykü ülkemizde okunan sevilen tür olmasına dünyada bizdeki yaygın öykü edebiyat dergilerinde yayımlanan tür kalıyor öykü kitaplarının sayısı 14 şubat “dünya öykü günü” unesco benimsenip dünyaya duyurulsaydı sanırım günün öyküye ilginin artmasında önemli katkısı olacaktı yıl özcan karabulut öykücü arkadaşları kurumsallaşmada önemli adım atarak ankara öykü günleri derneği’ni kurdu “14 şubat dünyanın öyküsü” dergisi yayımlanmaya başlandı dünya öykü günü kutlamalarında dernek önemli rol yüklenmiş “yaşadığınız öyküler dilerim güzel bitsin” noktalanan 2014 dünya öykü günü bildirgesi’ni usta öykücü necati tosuner yazmış başta ankara bursa erzurum kayseri i̇zmir denizli eskişehir konya şehirlerde kutlamalar yapılmış önceki yıllarda türkiye pen’in organizasyonu i̇stanbul’da kutlamalar yapılıyordu yıl i̇stanbul’da etkinlik yoktu kadıköy’de öyküseverler araya gelip balonların ucuna bağlanmış öyküleri sokaktan geçenlere dağıtmış bence ankara öykü günleri derneği’nin çabasına türkiye pen yazar örgütleri katkıda bulunmalı yerde birbirinden bağımsız kutlamalar yapıldığında “dünya öykü günü” kalıcılaşacaktır


i̇stanbul kağıthane’de gece yarısı sokakta oyun oynayan çocuklar ölümden döndü kontrolden çıkan kamyonet kaldırımı aşıp binanın duvarındaki doğalgaz kutusuna çarptı 2 kişinin yaralandığı kazada şoför kaçarken arkadaşına tekme atarak kaçan çocuğun saniyelerle ölümden kurtulduğu an güvenlik kameralarına yansıdı


ziraat türkiye kupası maçında deplasmanda amedsporun bursasporu 21 yenerek kupa dışına itmesi diyarbakırda sevinçle gösterileriyle karşılandı tezehürat yeşil kırmızı flamalarla ofiste toplanan gevran caddesine yürümek isteyen taraftarlara polis tazyikli su gaz bombalarıyla müdahale ofis semtinde güvenlik güçleri amedspor taraftarları arasında çıkan olaylar ara sokaklarda kovalamaca şeklinde devam


eski brezilyalı yıldız oyuncu ronaldo brezilyanın evsahipliğinde düzenlenecek 2014 fifa dünya kupasını sambacıların kazanması halinde neymarın turnuvanın yıldızı olabileceğini iddia i̇spanyol basınına konuşan ronaldo neymarın barcelonaya transferinin ardından futbolunu geliştirdiğini belirterek geçen sezon konfederasyonlar kupasında izlediğim brezilyanın ardından iyimserim genç takımları neymar kalitesiyle takımın oyuncusu dedi neymarın barcelonada lionel messinin ardında kaldığını belirten ronaldo barcelonada şimdilik messinin yardımcılığını fazlası ülkemizin heyecan verici umudu şeklinde konuştu brezilya turnuvayı kazanırsa neymar turnuvanın yıldızı seçilebilir diyen ronaldo 22 yaşındaki oyuncuya duyduğu güvenin önümüzdeki turnuvada boşa çıkmayacağından emin vurguladı turnuva öncesinde statların yetişememesi güvenlik konular endişe duyulduğunu savunan ronaldo gelmiş geçmiş dünya kupası olacak önümüzde ay şüpheler normal aynı kış olimpiyatları öncesi soçide yaşanmıştı değerlendirmesinde bulundu neymarın brezilya formasıyla 46 maçta 27 golü bulunuyor

In [23]:
test_df["text"]= test_df["text"].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

In [24]:
for index, row in test_df.iterrows():
    if(index==5):
      break
    print(row[1])
    print("\n")

filmimde oynadı 32 yıldır görmüyordum abimi diyen heyecanlanarak gözyaşlarına boğulan cem yılmazı izleyenler kahkahalara boğuldu


katalonyanın yeni başkanı carles puigdemont resmen görevi teslim aldığı törende nazım hikmetin güzel şiirini okudu yunan lider çipras başbakanlıktan istifa ederken aynı şiiri okumuştu i̇spanyanın doğusundaki katalonya özerk yönetiminin başkanı seçilen carles puigdemont resmen görevini teslim aldığı törende konuşmada türk şairi nazım hikmetin şiirinden mısrayı okudu katalonyada bağımsızlık yanlısı girişimlerin devam edeceğini vadeden puigdemont bağımsızlık adımlarına atfen fazla şeyleri yaşadığımız uzun seyahatten geliyoruz yorulmadık konuştu puigdemont nazım hikmetin ünlü güzel deniz gidilmemiş olandır mısrasını okudu katalonya özerk yönetiminin 2010 aralık ayından yana başkanı artur masdan başkanlığı devralan puigdemont katalan halkının umudu yaşam koşularının iyileştirilmesi temek haklar kamu hizmeti çevreye duyulan hassasiyetin garanti edilmesidir gerekli araçlara sahip olduğumuzda mümkün olacaktır şeklinde konuştu kraldan söz etmedi̇ konuşması sırasında i̇spanya kralı 6 felipe i̇spanya anayasasına bağlılıktan şekilde söz etmeyen puigdemont katalan halkının arzusuna katalan meclisindeki temsilcilerine sadakat gösterilmesi gerektiğini dile getirdi katalonya haber ajansının eski genel müdürü katalonya başkanı seçilene girona belediye başkanlığı katalonya bağımsızlık yanlısı belediyeler derneği başkanlığı görevlerini yürüten 53 yaşındaki puigdemont katalonyayı i̇spanyadan ayıracak kurumsal yapılanmayı katalonya merkez bankası maliye gerçekleştirip 18 ay referandumla katalonyada bağımsızlık ilan edilmesini vadediyor i̇spanyol hükümeti zamana katalonyada bağımsızlık yanlısı girişimi anayasa mahkemesi aracılığıyla yasal durdurmakta kararlı vurguluyor yunanistan başbakanı syri̇za lideri aleksis çipras geçtiğimiz ağustos ayında erken seçim yolunu açmak istifa etmişti çipras veda konuşmasının nazım hikmetin güzel şiirini seslendirmişti nazım hikmetin piraye i̇çin şiirler başlığıyla yazdığı şiirdeki bölüm güzel deniz gidilmemiş olanıdır güzel çocuk büyümedi güzel günlerimiz yaşamadıklarımız söylemek istediğim güzel söz söylememiş olduğum sözdür


i̇stanbul avcılarda e5 üzerinde yakıt tankerinin çarptığı üst geçit çöktü kazada kişi hayatını kaybetti kişi yaralandı kaza sonrasında olay yerinde tankerden sızıntı paniği yaşanıyor tankerde sıvı glikoz öğrenildi


cnn türk muhabiri emniyet kemeri haberi şehirler arası otobüste yolcularla röportaj yolcunun verdiği cevap güldürdü konudaki bilinçsizliğimizi gözler önüne serdi


\n\n\n cumhurbaşkanı gül yasama yılını açarken yeni anayasaya ağırlık verdi… “değişmez” değiştirilmesi “teklif edilemez” maddelerini gözeten konuşmasına malum tepkiler yükseliverdi kimilerine demokratlığın gereği cumhuriyetimizin laik demokratik sosyal hukuk devleti “olmaması”nı isteyebilmek\n laiklikle bütünleşen çağdaş demokratik sosyal hakları koruyan hukuku etmek demokrasi sayılıyor\n böylelerine “allah akıl fikir versin” demekten başka çare kalmıyor\n faşizmin anayasası\n 12 eylül anayasası’nı türkiye’ye yakıştırmıyoruz\n birincisi düzmece gerçek “faşist darbe”nin ürünü arkasında ölümler işkenceler hukuk dışı sorgulama eziyetler topluma zorla oy verdirilen anayasa\n oktay akbal 1982’deki halkoylamasından “ben hayır diyeceğim” yazdığı ceza yemedi mi yüzde 90 “evet” böylesi ortamda “oy”un “rengi”ni gösteren “şeffaf zarf”larla elde edilmişti\n i̇kincisi anayasadaki olumlu maddelere “ancak” denilerek “faşist niyet”lerin eklenmesi… sayısız toplumsal dava “ancak”lı ilavelerle yitirildi madde dünyanın hayran kaldığı 61 anayasası’ndaki maddelerin “tersi” eklemelerle düzenlenmişti\n dokunulmaması\t gerekenler\n şimdi denebilir 12 eylül anayasası “ekleme” hükümlerden arındırılsa 61 anayasası’na yakın düzenleme elde edilebilir yorum yanlış sayılmaz “değişmez” “değiştirilmesi önerilemez” maddelerimizin kabulü şartıyla…\n hükümetlerin “çevre kent toplum yararı”na uygulamalarını önlemek açtığımız davaları anayasanın örneklerini vereceğim maddeleri sayesinde kazanıyoruz\n örneğin madde 11’deki “kanunlar anayasaya aykırı olamaz” hükmüne sakın dokunulmasın madde sayesinde kıyı yağmasından tarih tahribatına doğa kent düşmanı düzenleme iptal edildi rantçılar kaybetti türkiye kazandı\n 35’inci maddedeki “mülkiyet hakkı toplum yararına sınırlanabilir” hükmü şehirciliğin güvencesidir aksi halde yapı yoğunlukları arsa sahibi kentin çıkarına belirlenemezdi\n “kıyılardan yararlanma”ya 43’üncü maddedeki “öncelikle kamu yararı toplum çıkarı gözetilir” koşulu 45’inci maddedeki “devlet tarım arazileri çayır meraların amaç dışı kullanılmasını tahribini önlemekle görevlidir” hükümleri değişmesi teklif edilmeyecek maddeler… aksi halde betonlaşmayan kıyılarımızı hâlâ işgal edilememiş tarım alanlarımızı hemen kaybederiz…\n “çevreyi geliştirmek çevre sağlığını korumak çevre kirlenmesini önlemek devletin vatandaşların ödevidir” diyen 56’ncı “devlet tarih kültür tabiat varlıklarının korunmasını sağlar” diyen 63’üncü maddeler akımızdır uygulanmasını sağlayacak hükümlerle donatılmalıdır\n “konut hakkı”yla 57’nci maddedeki “devlet şehirlerin özelliklerini çevre şartlarını gözeten planlama çerçevesinde konut ihtiyacını karşılayacak tedbirleri alır” hükmündeki “şehrin özellikleri”ne dayalı “planlama” koşulu evrensel övgülere olmuştur yaşama geçebilmesi aynı koşulun tersini simgeleyen toki̇ vb uygulamalara engel olabilecek hükümler gerekiyor\n örnekleri çoğaltmaya yerimiz anayasanın değişmezleri arasına ülkenin yağmalanmasına karşı hükümleri katabilirsek zaman çağdaş kimlikli türkiye’yi yaratabiliriz \n\n

###Number Removal


<img class=" lazyloaded" data-src="https://media.giphy.com/media/5xaOcLwEvFOizxHVyVy/giphy.gif" alt="" title="interactive-presentation-header" src=https://media.giphy.com/media/5xaOcLwEvFOizxHVyVy/giphy.gif>

In [25]:
train_df["text"]=train_df["text"].str.replace(r'\d+', '')

In [26]:
test_df["text"]=test_df["text"].str.replace(r'\d+', '')

## Final modifications before training

In [28]:
x_train = train_df["text"]
y_train = train_df["label"]

In [31]:
nltk.download("stopwords")
stopwords = nltk.corpus.stopwords.words("turkish")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Bag-of-words vs Embeddings

In [211]:
import gensim
from itertools import chain

w2v_1 = gensim.models.Word2Vec.load("/content/gdrive/MyDrive/CS-445/project02_word_vec.model")
w2v_2 = gensim.models.KeyedVectors.load_word2vec_format("/content/gdrive/MyDrive/CS-445/trmodel.model",binary=True)
pretrained_weight_1 = w2v_1.wv.vectors
pretrained_weight_2 = w2v_2.wv.vectors

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  import sys

In [32]:
x_test = test_df["text"]
y_test = test_df["label"]

In [217]:
# Importing libraries
from keras.datasets import imdb
from keras.models import Sequential,Model
from keras.layers import Dense,Input,Dropout
from keras.layers import Flatten,GlobalMaxPooling1D
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from sklearn.preprocessing import OneHotEncoder
from scipy import sparse
from keras.layers.merge import concatenate

In [152]:
x_test

0       filmimde oynadı  yıldır görmüyordum abimi diye...
1       katalonyanın yeni başkanı carles puigdemont re...
2       i̇stanbul avcılarda e üzerinde yakıt tankerini...
3       cnn türk muhabiri emniyet kemeri haberi şehirl...
4       \n\n\n cumhurbaşkanı gül yasama yılını açarken...
                              ...
1995    turkish airlines euroleaguedeki temsilcilerimi...
1996    akıl oyunları filmine ilham veren ünlü matemat...
1997    eski ösym başkanı ali demir kpss soruşturması ...
1998    atatürk havalimanı katliamından gün milli yas ...
1999    medipol başakşehir kulüp tarihinde şampiyonlar...
Name: text, Length: 2000, dtype: object

In [35]:
all_set_feature=x_train.append(x_test)
all_set_target=y_train.append(y_test)

In [113]:
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer(num_words=300)
tokenizer.fit_on_texts(all_set_feature)

In [156]:
Xtrain = tokenizer.texts_to_matrix(all_set_feature[:9000], mode='binary')
Xtest = tokenizer.texts_to_matrix(all_set_feature[9000:], mode='binary')

In [161]:
model = Sequential()
model.add(Input(300,))
model.add(Dense(512,activation='swish'))
model.add(Dense(256,activation='swish'))
model.add(Dense(128,activation='swish'))
model.add(Dense(64,activation='swish'))
model.add(Dense(32,activation='swish'))
model.add(Dense(5,activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [162]:
model.fit(Xtrain,pd.get_dummies(all_set_target[:9000]),validation_split=0.1,epochs=10, batch_size=1)

Epoch 1/10
8100/8100 [==============================] - 27s 3ms/step - loss: 0.9015 - accuracy: 0.6632 - val_loss: 0.6621 - val_accuracy: 0.7756
Epoch 2/10
8100/8100 [==============================] - 27s 3ms/step - loss: 0.6366 - accuracy: 0.7755 - val_loss: 0.7048 - val_accuracy: 0.7567
Epoch 3/10
8100/8100 [==============================] - 27s 3ms/step - loss: 0.5454 - accuracy: 0.8054 - val_loss: 0.6212 - val_accuracy: 0.7567
Epoch 4/10
8100/8100 [==============================] - 31s 4ms/step - loss: 0.4740 - accuracy: 0.8317 - val_loss: 0.6663 - val_accuracy: 0.7711
Epoch 5/10
8100/8100 [==============================] - 28s 3ms/step - loss: 0.3955 - accuracy: 0.8575 - val_loss: 0.8122 - val_accuracy: 0.7567
Epoch 6/10
8100/8100 [==============================] - 27s 3ms/step - loss: 0.3454 - accuracy: 0.8845 - val_loss: 0.8570 - val_accuracy: 0.7700
Epoch 7/10
8100/8100 [==============================] - 25s 3ms/step - loss: 0.2635 - accuracy: 0.9142 - val_loss: 0.9163 - val_accuracy: 0.7711
Epoch 8/10
8100/8100 [==============================] - 28s 3ms/step - loss: 0.1984 - accuracy: 0.9330 - val_loss: 1.3816 - val_accuracy: 0.7500
Epoch 9/10
8100/8100 [==============================] - 25s 3ms/step - loss: 0.1539 - accuracy: 0.9498 - val_loss: 1.4333 - val_accuracy: 0.7622
Epoch 10/10
8100/8100 [==============================] - 28s 3ms/step - loss: 0.1435 - accuracy: 0.9704 - val_loss: 1.4104 - val_accuracy: 0.7567

In [163]:
model.evaluate(Xtest,pd.get_dummies(all_set_target[9000:]))

32/32 [==============================] - 0s 4ms/step - loss: 1.5226 - accuracy: 0.7570

[1.52255117893219, 0.7570000290870667]

### Simple CNN

In [191]:
# Padding the data samples to a maximum review length in words
max_words = 450
X_train = sequence.pad_sequences(tokenizer.texts_to_sequences(x_train), maxlen=max_words)
X_test = sequence.pad_sequences(tokenizer.texts_to_sequences(x_test), maxlen=max_words)
# Building the CNN Model
model = Sequential()      # initilaizing the Sequential nature for CNN model
# Adding the embedding layer which will take in maximum of 450 words as input and provide a 32 dimensional output of those words which belong in the top_words dictionary
model.add(Embedding(7000, 32, input_length=max_words))
model.add(Conv1D(64, 3, padding='same', activation='swish'))
model.add(MaxPooling1D())
model.add(Conv1D(32, 3, padding='same', activation='relu'))
model.add(MaxPooling1D())
model.add(Flatten())
model.add(Dense(256, activation='swish'))
model.add(Dense(128, activation='swish'))
model.add(Dense(5, activation='softmax'))

In [192]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_32"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, 450, 32)           224000
_________________________________________________________________
conv1d_5 (Conv1D)            (None, 450, 64)           6208
_________________________________________________________________
max_pooling1d_5 (MaxPooling1 (None, 225, 64)           0
_________________________________________________________________
conv1d_6 (Conv1D)            (None, 225, 32)           6176
_________________________________________________________________
max_pooling1d_6 (MaxPooling1 (None, 112, 32)           0
_________________________________________________________________
flatten_5 (Flatten)          (None, 3584)              0
_________________________________________________________________
dense_115 (Dense)            (None, 256)               917760
_________________________________________________________________
dense_116 (Dense)            (None, 128)               32896
_________________________________________________________________
dense_117 (Dense)            (None, 5)                 645
=================================================================
Total params: 1,187,685
Trainable params: 1,187,685
Non-trainable params: 0
_________________________________________________________________

In [193]:
model.fit(X_train, pd.get_dummies(y_train), validation_split=0.1, epochs=5, batch_size=128, verbose=2)

Epoch 1/5
57/57 - 10s - loss: 1.3282 - accuracy: 0.3988 - val_loss: 1.1916 - val_accuracy: 0.4663
Epoch 2/5
57/57 - 9s - loss: 1.0164 - accuracy: 0.5721 - val_loss: 0.8821 - val_accuracy: 0.6425
Epoch 3/5
57/57 - 10s - loss: 0.7679 - accuracy: 0.6819 - val_loss: 0.8274 - val_accuracy: 0.6637
Epoch 4/5
57/57 - 10s - loss: 0.6889 - accuracy: 0.7303 - val_loss: 0.7057 - val_accuracy: 0.7350
Epoch 5/5
57/57 - 9s - loss: 0.6070 - accuracy: 0.7667 - val_loss: 0.6529 - val_accuracy: 0.7513

In [194]:
model.evaluate(X_test,pd.get_dummies(y_test))

63/63 [==============================] - 1s 14ms/step - loss: 0.6371 - accuracy: 0.7555

[0.6371148228645325, 0.7555000185966492]

These results are not bad and can be evaluated for future studies.

### CNN-rand

In [205]:
def rand_model():

    inputs1 = Input(shape=(450, ))
    embedding1 = Embedding(input_dim=7000,
                           output_dim=32,
                           trainable=True, input_length=450)(inputs1)
    conv1 = Conv1D(filters=16, kernel_size=3, activation='relu'
                   )(embedding1)
    pool1 = MaxPooling1D()(conv1)
    flat1 = Flatten()(pool1)

    
    conv2 = Conv1D(filters=16, kernel_size=4, activation='relu'
                   )(embedding1)
    pool2 = MaxPooling1D()(conv2)
    flat2 = Flatten()(pool2)

    
    conv3 = Conv1D(filters=16, kernel_size=5, activation='relu'
                   )(embedding1)
    pool3 = MaxPooling1D()(conv3)
    flat3 = Flatten()(pool3)
    
    # merge

    merged = concatenate([flat1,flat2,flat3])

    # interpretation
    drop1 = Dropout(0.5)(merged)
    dense1 = Dense(64, activation='relu')(drop1)
    outputs = Dense(5, activation='softmax')(dense1)
    model = Model(inputs=[inputs1], outputs=outputs)

    # compile

    model.compile(loss='categorical_crossentropy', optimizer='adam',metrics=['accuracy'])

    # summarize

    print(model.summary())
    return model
model = rand_model()
model.fit(X_train, pd.get_dummies(y_train), validation_split=0.1, epochs=5, batch_size=128, verbose=2)

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_31 (InputLayer)           [(None, 450)]        0
__________________________________________________________________________________________________
embedding_10 (Embedding)        (None, 450, 32)      224000      input_31[0][0]
__________________________________________________________________________________________________
conv1d_17 (Conv1D)              (None, 448, 16)      1552        embedding_10[0][0]
__________________________________________________________________________________________________
conv1d_18 (Conv1D)              (None, 447, 16)      2064        embedding_10[0][0]
__________________________________________________________________________________________________
conv1d_19 (Conv1D)              (None, 446, 16)      2576        embedding_10[0][0]
__________________________________________________________________________________________________
max_pooling1d_16 (MaxPooling1D) (None, 224, 16)      0           conv1d_17[0][0]
__________________________________________________________________________________________________
max_pooling1d_17 (MaxPooling1D) (None, 223, 16)      0           conv1d_18[0][0]
__________________________________________________________________________________________________
max_pooling1d_18 (MaxPooling1D) (None, 223, 16)      0           conv1d_19[0][0]
__________________________________________________________________________________________________
flatten_15 (Flatten)            (None, 3584)         0           max_pooling1d_16[0][0]
__________________________________________________________________________________________________
flatten_16 (Flatten)            (None, 3568)         0           max_pooling1d_17[0][0]
__________________________________________________________________________________________________
flatten_17 (Flatten)            (None, 3568)         0           max_pooling1d_18[0][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 10720)        0           flatten_15[0][0]
                                                                 flatten_16[0][0]
                                                                 flatten_17[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 10720)        0           concatenate_2[0][0]
__________________________________________________________________________________________________
dense_120 (Dense)               (None, 64)           686144      dropout_1[0][0]
__________________________________________________________________________________________________
dense_121 (Dense)               (None, 5)            325         dense_120[0][0]
==================================================================================================
Total params: 916,661
Trainable params: 916,661
Non-trainable params: 0
__________________________________________________________________________________________________
None
Epoch 1/5
57/57 - 12s - loss: 1.2864 - accuracy: 0.4306 - val_loss: 1.0971 - val_accuracy: 0.5200
Epoch 2/5
57/57 - 11s - loss: 0.9132 - accuracy: 0.6408 - val_loss: 0.7515 - val_accuracy: 0.7000
Epoch 3/5
57/57 - 11s - loss: 0.6805 - accuracy: 0.7408 - val_loss: 0.6626 - val_accuracy: 0.7550
Epoch 4/5
57/57 - 11s - loss: 0.5943 - accuracy: 0.7786 - val_loss: 0.6457 - val_accuracy: 0.7538
Epoch 5/5
57/57 - 11s - loss: 0.5400 - accuracy: 0.8028 - val_loss: 0.6048 - val_accuracy: 0.7825

In [206]:
model.evaluate(X_test,pd.get_dummies(y_test))

63/63 [==============================] - 1s 13ms/step - loss: 0.5929 - accuracy: 0.7805

[0.592906653881073, 0.7804999947547913]

### CNN-static

In [218]:
def static_model():

    # channel 1

    inputs1 = Input(shape=(450, ))
    embedding1 = Embedding(input_dim=pretrained_weight_2.shape[0],
                           output_dim=400,
                           weights=[pretrained_weight_2],
                           trainable=False, input_length=450)(inputs1)
    conv1 = Conv1D(filters=16, kernel_size=2, activation='relu'
                   )(embedding1)
    pool1 = GlobalMaxPooling1D()(conv1)

    flat1 = Flatten()(pool1)

    
    conv2 = Conv1D(filters=16, kernel_size=3, activation='relu'
                   )(embedding1)
    pool2 = GlobalMaxPooling1D()(conv2)
    flat2 = Flatten()(pool2)

    
    conv3 = Conv1D(filters=16, kernel_size=4, activation='relu'
                   )(embedding1)
    pool3 = GlobalMaxPooling1D()(conv3)

    flat3 = Flatten()(pool3)

    # merge

    merged = concatenate([flat1,flat2,flat3])

    # interpretation
    dense = Dense(32, activation='relu')(merged)
    drop1 = Dropout(0.2)(dense)
    outputs = Dense(5, activation='softmax')(drop1)
    model = Model(inputs=[inputs1], outputs=outputs)

    # compile

    model.compile(loss='categorical_crossentropy', optimizer='adam',
                  metrics=['accuracy'])

    # summarize

    print(model.summary())
    return model
model = static_model()
model.fit(X_train, pd.get_dummies(y_train), validation_split=0.1, epochs=5, batch_size=128, verbose=2)

Model: "model_2"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_36 (InputLayer)           [(None, 450)]        0
__________________________________________________________________________________________________
embedding_13 (Embedding)        (None, 450, 400)     164982800   input_36[0][0]
__________________________________________________________________________________________________
conv1d_24 (Conv1D)              (None, 449, 16)      12816       embedding_13[0][0]
__________________________________________________________________________________________________
conv1d_25 (Conv1D)              (None, 448, 16)      19216       embedding_13[0][0]
__________________________________________________________________________________________________
conv1d_26 (Conv1D)              (None, 447, 16)      25616       embedding_13[0][0]
__________________________________________________________________________________________________
global_max_pooling1d (GlobalMax (None, 16)           0           conv1d_24[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_1 (GlobalM (None, 16)           0           conv1d_25[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_2 (GlobalM (None, 16)           0           conv1d_26[0][0]
__________________________________________________________________________________________________
flatten_21 (Flatten)            (None, 16)           0           global_max_pooling1d[0][0]
__________________________________________________________________________________________________
flatten_22 (Flatten)            (None, 16)           0           global_max_pooling1d_1[0][0]
__________________________________________________________________________________________________
flatten_23 (Flatten)            (None, 16)           0           global_max_pooling1d_2[0][0]
__________________________________________________________________________________________________
concatenate_4 (Concatenate)     (None, 48)           0           flatten_21[0][0]
                                                                 flatten_22[0][0]
                                                                 flatten_23[0][0]
__________________________________________________________________________________________________
dense_124 (Dense)               (None, 32)           1568        concatenate_4[0][0]
__________________________________________________________________________________________________
dropout_3 (Dropout)             (None, 32)           0           dense_124[0][0]
__________________________________________________________________________________________________
dense_125 (Dense)               (None, 5)            165         dropout_3[0][0]
==================================================================================================
Total params: 165,042,181
Trainable params: 59,381
Non-trainable params: 164,982,800
__________________________________________________________________________________________________
None
Epoch 1/5
57/57 - 53s - loss: 1.4905 - accuracy: 0.4886 - val_loss: 0.8905 - val_accuracy: 0.6637
Epoch 2/5
57/57 - 50s - loss: 0.8251 - accuracy: 0.6865 - val_loss: 0.7727 - val_accuracy: 0.7225
Epoch 3/5
57/57 - 50s - loss: 0.6652 - accuracy: 0.7517 - val_loss: 0.7465 - val_accuracy: 0.7237
Epoch 4/5
57/57 - 51s - loss: 0.5827 - accuracy: 0.7833 - val_loss: 0.7478 - val_accuracy: 0.7300
Epoch 5/5
57/57 - 50s - loss: 0.5103 - accuracy: 0.8175 - val_loss: 0.7356 - val_accuracy: 0.7300

In [219]:
model.evaluate(X_test,pd.get_dummies(y_test))

63/63 [==============================] - 4s 67ms/step - loss: 0.7283 - accuracy: 0.7235

[0.7282633185386658, 0.7235000133514404]

### CNN-non-static

In [224]:
def non_static_model():

    # channel 1

    inputs1 = Input(shape=(450, ))
    embedding1 = Embedding(input_dim=pretrained_weight_2.shape[0],
                           output_dim=400,
                           weights=[pretrained_weight_2],
                           trainable=True, input_length=450)(inputs1)
    conv1 = Conv1D(filters=32, kernel_size=2, activation='relu'
                   )(embedding1)
    pool1 = GlobalMaxPooling1D()(conv1)
    flat1 = Flatten()(pool1)

    
    conv2 = Conv1D(filters=32, kernel_size=3, activation='relu'
                   )(embedding1)
    pool2 = GlobalMaxPooling1D()(conv2)
    flat2 = Flatten()(pool2)

    
    conv3 = Conv1D(filters=32, kernel_size=4, activation='relu'
                   )(embedding1)
    pool3 = GlobalMaxPooling1D()(conv3)
    flat3 = Flatten()(pool3)

    # merge

    merged = concatenate([flat1,flat2,flat3])

    # interpretation
    dense = Dense(32, activation='relu')(merged)
    drop1 = Dropout(0.2)(dense)
    outputs = Dense(5, activation='softmax')(drop1)
    model = Model(inputs=[inputs1], outputs=outputs)

    # compile

    model.compile(loss='categorical_crossentropy', optimizer='adam',
                  metrics=['accuracy'])

    # summarize

    print(model.summary())
    return model
model = non_static_model()
model.fit(X_train, pd.get_dummies(y_train), validation_split=0.1, epochs=5, batch_size=128, verbose=2)

Model: "model_4"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_39 (InputLayer)           [(None, 450)]        0
__________________________________________________________________________________________________
embedding_15 (Embedding)        (None, 450, 400)     164982800   input_39[0][0]
__________________________________________________________________________________________________
conv1d_30 (Conv1D)              (None, 449, 32)      25632       embedding_15[0][0]
__________________________________________________________________________________________________
conv1d_31 (Conv1D)              (None, 448, 32)      38432       embedding_15[0][0]
__________________________________________________________________________________________________
conv1d_32 (Conv1D)              (None, 447, 32)      51232       embedding_15[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_6 (GlobalM (None, 32)           0           conv1d_30[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_7 (GlobalM (None, 32)           0           conv1d_31[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_8 (GlobalM (None, 32)           0           conv1d_32[0][0]
__________________________________________________________________________________________________
flatten_27 (Flatten)            (None, 32)           0           global_max_pooling1d_6[0][0]
__________________________________________________________________________________________________
flatten_28 (Flatten)            (None, 32)           0           global_max_pooling1d_7[0][0]
__________________________________________________________________________________________________
flatten_29 (Flatten)            (None, 32)           0           global_max_pooling1d_8[0][0]
__________________________________________________________________________________________________
concatenate_6 (Concatenate)     (None, 96)           0           flatten_27[0][0]
                                                                 flatten_28[0][0]
                                                                 flatten_29[0][0]
__________________________________________________________________________________________________
dense_128 (Dense)               (None, 32)           3104        concatenate_6[0][0]
__________________________________________________________________________________________________
dropout_5 (Dropout)             (None, 32)           0           dense_128[0][0]
__________________________________________________________________________________________________
dense_129 (Dense)               (None, 5)            165         dropout_5[0][0]
==================================================================================================
Total params: 165,101,365
Trainable params: 165,101,365
Non-trainable params: 0
__________________________________________________________________________________________________
None
Epoch 1/5
57/57 - 180s - loss: 1.4235 - accuracy: 0.5231 - val_loss: 0.8317 - val_accuracy: 0.6925
Epoch 2/5
57/57 - 176s - loss: 0.7280 - accuracy: 0.7290 - val_loss: 0.7546 - val_accuracy: 0.7362
Epoch 3/5
57/57 - 179s - loss: 0.5528 - accuracy: 0.7981 - val_loss: 0.7544 - val_accuracy: 0.7350
Epoch 4/5
57/57 - 182s - loss: 0.4659 - accuracy: 0.8360 - val_loss: 0.7461 - val_accuracy: 0.7425
Epoch 5/5
57/57 - 183s - loss: 0.3818 - accuracy: 0.8657 - val_loss: 0.7837 - val_accuracy: 0.7487

In [226]:
model.evaluate(X_test,pd.get_dummies(y_test))

63/63 [==============================] - 6s 96ms/step - loss: 0.7021 - accuracy: 0.7485

[0.7020707130432129, 0.7484999895095825]